<div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a
          routerLink="home"
          routerLinkActive="active"
          class="nav-link"
          aria-current="page"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="media" routerLinkActive="active" class="nav-link"
          >Média</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="imc" routerLinkActive="active" class="nav-link"
          >IMC</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="apolice" routerLinkActive="active" class="nav-link"
          >Apólice de seguro</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="temperatura" routerLinkActive="active" class="nav-link"
          >Conversor de temperatura</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="calculadora" routerLinkActive="active" class="nav-link"
          >Calculadora</a
        >
      </li>
    </ul>
  </header>

  <router-outlet></router-outlet>
</div>
