<input type="text" [(ngModel)] = "nomeSeg" placeholder = "Nome do segurado" class="form-control"/>
<input type="text" [(ngModel)] = "sexo" placeholder = "Sexo" class="form-control"/>
<input type="number" [(ngModel)] = "idade" placeholder = "Idade" class="form-control"/>
<input type="text" [(ngModel)] = "valor" placeholder = "Valor automóvel" class="form-control"/>

<p>O valor da apólice de seguro para {{nomeSeg}} será: R${{valorApolice}}</p>

<button class="btn btn-primary" (click)="apolice()">Calcular apólice de seguro</button>
